body {
    margin: 0;
    font-size: 62.5%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 15px 0;
    background: #eeeeee;
}

#wrap {
    width: 820px;
    margin: 0 auto;
    background: #ffffff;
}

#top_content {
    padding: 0 10px;
}

#topheader {
    padding: 25px 15px 15px 15px;
    margin: 0 auto 0 auto;
    background: #85c329;
}

#rightheader {
    float: right;
    width: 375px;
    height: 40px;
    color: #ffffff;
    text-align: right;
}

#rightheader p {
    padding: 35px 15px 0 0;
    margin: 0;
    text-align: right;
}