<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>注册用户</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h3>注册----><span th:text="${param.msg}"></span></h3>
<form th:action="@{/user/register}" method="POST">

    <table>

        <tr>
            <td valign="middle" align="right">
                用户名：
            </td>
            <td valign="middle" align="left">
                <input type="text" class="inputgri" name="username">
            </td>
        </tr>

        <tr>
            <td valign="middle" align="right">
                真实姓名：
            </td>
            <td valign="middle" align="left">
                <input type="text" class="inputgri" name="realname">
            </td>
        </tr>

        <tr>
            <td valign="middle" align="right">
                密码：
            </td>
            <td valign="middle" align="left">
                <input type="password" class="inputgri" name="password">
            </td>
        </tr>

        <tr>
            <td valign="middle" align="right">
                性别：
            </td>
            <td valign="middle" align="left">
                男
                <input type="radio" class="inputgri" name="gender" value="1" checked="checked">
                女
                <input type="radio" class="inputgri" name="gender" value="0">
            </td>
        </tr>

        <tr>
            <td valign="middle" align="right">
                验证码：
                <img id="num" th:src="@{/user/generateImageCode}">
                <a href="javascript:;"
                   onclick="changeImageCode()">换一张</a>
                <script>
                    function changeImageCode() {
                        document.getElementById('num').src = '[[@{/user/generateImageCode}]]?' + (new Date()).getTime()
                    }
                </script>
            </td>
            <td valign="middle" align="left">
                <input type="text" class="inputgri" name="code">
            </td>
        </tr>
    </table>

    <p>
        <input type="submit" class="button" value="提交">&nbsp;&nbsp;<input type="button" class="button" value="返回登录"
                                                                          onclick="back2Login()"/>

        <script>
            function back2Login() {
                location.href='[[@{/login}]]';
            }
        </script>
    </p>
</form>
</body>
</html>